// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url('../_fonts.scss/HelveticaNeue-ThinCond.woff2') format('woff2'),
//         url('../_fonts.scss/HelveticaNeue-ThinCond.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

.footer {
    background: $primary;
    color: #fff;
    font-size: 32px;
    padding-bottom: 160px;

    @include mobile {
        font-size: 28px;
    }

    @include laptop {
        padding-bottom: 90px;
    }
    small {
        font-size: 18px;
        text-decoration: underline;
    }
}
