.form-section {
    padding: 140px 0 100px;
    background-color: $primary;
    color: #fff;
    .h2 {
        padding-left: 100px;
        @include mobile {
            padding-left: 0;
        }
        @include tablet {
            padding-left: 0;
        }
    }
    @include mobile {
        padding: 70px 0 100px;
    }
    @include tablet {
        padding: 70px 0 100px;
    }
}

.form {
    padding-left:100px;
    padding-right:100px;
    padding-top: 60px;
    @include laptop {
        padding-right: 0;
        padding-left: 0;
    }
    @include mobile {
        padding-top:80px;
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        @include mobile {
            margin-top: 100px;
            display: flex;
            justify-content: center;
        }
    }
    &__inputs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__label {
        width: calc(50% - 13px);
        margin-bottom: 26px;

        &--textarea {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }
    }
    &__item {
        width: 100%;
        padding: 12px 20px;

        &.error {
            border-color: $errorColor;
        }
    }
}
