.header {
    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 12px 0;
        min-height: 66px;
        color: #0a2756;

        @include laptop {
            justify-content: space-between;
        }
        &__body {
            @include laptop {
                display: none;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.header_content__logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.active {
    display: block;

    .header_content__body {
        display: block;
        height: 100vh;
        padding-top: 140px;
        text-align: center;
        font-size: 32px;
        @include mobile{
            padding-top: 50px;
            font-size: 22px;
        }
        .menu__list {
            display: block;
            width: 100%;
            border: 0;
        }
        .sign-up {
            // display: block;
            text-align: center;
        }
        .contacts {
            display: block;
            text-align: center;
        }
    }
}

.logo {
    margin-right: 24px;

    img {
        display: block;
        max-width: 190px;
        height: 35px;
        object-fit: contain;
    }
}
.menu {
    &__list {
        display: flex;
        border-left: 1px solid $grey;

        li {
            @include laptop {
                margin-bottom: 15px;
            }
               @include mobile {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        display: inline-block;
        font-size: 0.88em;
        line-height: 1;
        padding: 13px 24px;
    }
}
.sign-up {
    margin-left: 24px;
    margin-right: 90px;
    min-height: 36px;
    color: $secondary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary;
    padding: 0 30px;

    @include mobile {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
    @include laptop {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
}
.contacts {
    margin-left: auto;
    font-size: 1.5em;
    display: flex;
    flex-wrap: nowrap;

    a {
        margin-left: 8px;
    }
}
.icon-facebook {
}
.icon-email {
}

.menu-button {
    // position: absolute;
    // right: 10px;
    // top: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 25px;
    background: none;
    @include laptop {
        display: flex;
    }
    span,
    &::after,
    &::before {
        content: "";
        height: 2px;
        width: 100%;
        background: $primary;
    }
}
.active {
    span {
        display: none;
    }
    .menu-button::after {
        transform: translateY(-11px) rotate(-50deg);
    }
    .menu-button::before {
        transform: translateY(12px) rotate(50deg);
    }
}
